{:kotoba.app/id "cloud.itonami.isic-0126", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiecoyx7rhu7wu5rokid4rdnlk7eom4kqxlwsqviyxnm2czowc3n2u", :kotoba.app/embed-url "ipfs://bafkreiecoyx7rhu7wu5rokid4rdnlk7eom4kqxlwsqviyxnm2czowc3n2u", :published {:archive "https://kotobase.net/ipfs/bafkreiecoyx7rhu7wu5rokid4rdnlk7eom4kqxlwsqviyxnm2czowc3n2u", :size 72500, :put-status 201, :get-status 200, :at "2026-08-15T12:56:00.488Z"}}
